.header-links li a {
    /* layout */
    display: flex;

    /* flexbox & grid */
    justify-content: center;
    align-items: center;

    /* sizing */
    width: calc(var(--spacing) * 12);
    height: calc(var(--spacing) * 12);

    /* typography */
    font-size: var(--text-2xl);
    line-height: var(--text-2xl--line-height);
    color: var(--color-zinc-700);

    /* borders */
    border-radius: var(--radius-lg);
    border-width: 1px;
    border-color: var(--color-zinc-300);

    /* transitions & animation */
    transition-property: color, background-color, border-color;
    transition-duration: 300ms;
    transition-timing-function: var(--default-transition-timing-function);

    &:where(.dark, .dark *) {
        color: var(--color-zinc-300);
        border-color: var(--color-zinc-700);
    }

    &:hover {
        background-color: var(--color-zinc-300);

        &:where(.dark, .dark *) {
            background-color: var(--color-zinc-700);
        }
    }

    &:active {
        background-color: var(--color-zinc-50);

        &:where(.dark, .dark *) {
            background-color: var(--color-zinc-950);
        }
    }
}

.theme-button {
    /* layout */
    display: flex;
    position: absolute;
    top: 0;
    right: 0;

    /* flexbox & grid */
    justify-content: center;
    align-items: center;

    /* sizing */
    width: calc(var(--spacing) * 12);
    height: calc(var(--spacing) * 12);

    /* typography */
    font-size: var(--text-2xl);
    line-height: var(--text-2xl--line-height);
    color: var(--color-zinc-700);

    /* borders */
    border-radius: var(--radius-lg);
    border-width: 1px;
    border-color: var(--color-zinc-300);

    /* transitions & animation */
    transition-property: color, background-color, border-color;
    transition-duration: 300ms;
    transition-timing-function: var(--default-transition-timing-function);

    /* interactivity */
    cursor: pointer;

    &:where(.dark, .dark *) {
        color: var(--color-zinc-300);
        border-color: var(--color-zinc-700);
    }

    &:hover {
        background-color: var(--color-zinc-300);

        &:where(.dark, .dark *) {
            background-color: var(--color-zinc-700);
        }
    }

    &:active {
        background-color: var(--color-zinc-50);

        &:where(.dark, .dark *) {
            background-color: var(--color-zinc-950);
        }
    }
}

.tech-stack li {
    /* layout */
    display: flex;

    /* flexbox & grid */
    align-items: center;
    gap: calc(var(--spacing) * 2);

    /* spacing */
    padding-inline: calc(var(--spacing) * 3);
    padding-block: calc(var(--spacing) * 1);

    /* borders */
    border-radius: calc(infinity * 1px);
    border-width: 1px;
    border-color: var(--color-zinc-300);

    /* transitions & animation */
    transition-property: border-color;
    transition-duration: 300ms;
    transition-timing-function: var(--default-transition-timing-function);

    &:where(.dark, .dark *) {
        border-color: var(--color-zinc-700);
    }

    & img {
        width: calc(var(--spacing) * 4);
        height: calc(var(--spacing) * 4);
    }
}