@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Inter-Regular.woff2') format('woff2');
}

@theme {
  --font-inter: 'Inter', sans-serif;
}

html,
body {
  /* sizing */
  @apply size-full;
}

html {
  /* typography */
  @apply font-inter tracking-wide text-zinc-950 dark:text-zinc-50;

  /* transitions & animation */
  @apply transition-colors duration-500;
}

body {
  /* backgrounds */
  @apply bg-zinc-50 dark:bg-zinc-950;

  /* transitions & animation */
  @apply transition-colors duration-500;
}

main {
  /* spacing */
  @apply p-4 m-auto;

  /* sizing */
  @apply max-w-2xl min-h-full;
}

h1,
h2 {
  /* typography */
  @apply font-medium;

  /* spacing */
  @apply mb-2;
}

h1 {
  /* typography */
  @apply text-2xl;
}

h2 {
  /* typography */
  @apply text-xl;
}

p {
  /* typography */
  @apply text-zinc-700 dark:text-zinc-300;

  /* transitions & animation */
  @apply transition-colors duration-500;
}
