@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "bootstrap-icons/font/bootstrap-icons";
@import "tailwindcss";

@theme {
    --font-inter: "Inter", sans-serif;
}

body {
    /* typography */
    font-family: var(--font-inter);
    letter-spacing: var(--tracking-wide);
    color: var(--color-zinc-50);

    /* backgrounds */
    background-color: var(--color-zinc-950);
}

main {
    /* spacing */
    padding: calc(var(--spacing) * 4);
    margin: auto;

    /* sizing */
    max-width: var(--container-2xl);
}